- var datalink = "http://data.baltimoresun.com/PROJECTLINK/"
- var datalink = ""

//- Price data in array "priceData"
//- JSON names include: name , city , address , phone , lgMaleDozen , lgMaleBushel
include includes/priceData.jade

doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">
html(class="no-js", lang="en")
	head
		//Basic page needs
		meta(charset="utf-8")
		title This week's Baltimore crab prices
		meta(name="description", content="")
		meta(name="author", content="Jin Bae Kim") 
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", type="text/css", href="#{datalink}css/style.css")
		link(rel="stylesheet", type="text/css", href="#{datalink}fontello/css/fontello.css")
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Old+Standard+TT|Lato|Montserrat")

		//Facebook Stuff
		meta(property="og:title", content="")
		meta(property="og:url", content="")
		meta(property="og:image", content="")
		meta(property="og:site_name", content="The Baltimore Sun")
		meta(property="og:description", content="")
		meta(property="fb:app_id", content="310302989040998")
		//Twitter Stuff
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@baltimoresun")
		meta(name="twitter:creator", content="")
		meta(name="twitter:title", content="")
		meta(name="twitter:description", content="")
		meta(name="twitter:image", content="")
		meta(name="twitter:domain", content="baltimoresun.com")

	body
		include includes/omniture.html
		
		.container
			h1 This week's Baltimore crab prices
			#crabPrices
				table#crabTable.crabTable
					thead
						tr
							th
							th Crab House
							th City
							th Address
							th Phone #
							th Dozen* Price
							th Bushel* Price
					tbody
						each crabHouse, i in priceData
							tr.mainRow
								td 
									i.icon-down-open
								td #{crabHouse.name}
								td #{crabHouse.city}
								td #{crabHouse.address}
								td #{crabHouse.phone}
								td $#{crabHouse.lgMaleDozen}
								td $#{crabHouse.lgMaleBushel}
		//- #leaderboard			
		//- 	include includes/ad-for-body.html
		
		//Javascript
		script(src="https://code.jquery.com/jquery-1.12.3.min.js")
		script(src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js")
		script(src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js")
		script(src="#{datalink}js/app.js")
		//- script(src="#{datalink}js/app.min.js")

		//- include includes/ad-for-header.html
	